:root {
    --white-title-color: #ffffff;
    --text-color: #9DA4BD;
    --hover-color: #FF6C00;
    --black-text-color: #303030;
    --description-color: #555555;
    --background-color: #F7F7F7;
}

/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} */

body {
    font-family: 'Open Sans', sans-serif;
}

/* глобальне оформлення тексту */

h1,
h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;

    letter-spacing: 0.05em;
}

.social-link,
.hero-text-en,
.hero-btn,
.about-text,
.price-text,
.statistic-text,
.master-text,
.works-text,
.footer-link,
.footer-text,
.work-time {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
}

.address-text,
.address-tel,
.address-mail {
    font-style: normal;
}

.nav-item,
.online-registration,
.nav-contact {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.hero-text-ru,
.about-motivation,
.price-list,
.statistic-advantage,
.address-text,
.address-tel,
.address-mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;

    letter-spacing: 0.02em;

}

.online-registration {
    text-transform: uppercase;
}

.social-link,
.footer-text,
.footer-link {
    letter-spacing: 0.2em;
}

.about-text,
.hero-text-en,
.price-text,
.statistic-text,
.master-text,
.works-text {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hero-btn {
    letter-spacing: 0.1em;
}

.container {
    display: inline-block;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* шапка сторінки */

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-contact,
.online-registration {
    text-decoration: none;
}

.nav-link,
.nav-contact,
.online-registration {
    color: black;
}

.online-registration {
    display: inline-block;
    padding: 12px 20px;

    border: 1px solid var(--hover-color);
    border-radius: 25px;
}

.online-registration:hover,
.online-registration:focus {
    background-color: var(--hover-color);
    color: var(--white-title-color);
}

.social-link {
    color: var(--black-text-color);
}

.nav-link:hover,
.nav-link:focus,
.social-link:hover,
.social-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--hover-color);
}

/* головна секція */

.hero-text-en,
.hero-text-ru {
    color: var(--text-color);
}

.hero {
    margin-bottom: 22px;
}

.hero-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-link {
    text-decoration: none;
}

.hero-text-en,
.hero-title,
.hero-text-ru {
    margin: 0;
    padding: 0;
}

.hero-text-en {
    margin-bottom: 20px;
}

.hero-title {
    margin-bottom: 20px;
}

.hero-text-ru {
    margin-bottom: 124px;
}

.hero-btn {
margin: 0;
padding: 0;
border: 0;
background-color: transparent;
}

/* про нас */

.about-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.about-text,
.about-title {
    color: var(--black-text-color);
}

.about-text,
.about-title,
.about-motivation,
.about-us {
    margin: 0;
    padding: 0;
}

.about-us {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;

    letter-spacing: 0.02em;

    color: var(--description-color);
}

.about-motivation {
    color: var(--description-color);
}

/* послуги та ціни */

.price-text {
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

.price-item {
    margin: 0;
    padding: 0;
}

.price-list {
    padding: 0;

    color: var(--text-color);
}

/* статистика */

.statistic-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.statistic-number,
.statistic-text {
    margin: 0;
    padding: 0;
}

.statistic-number {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;

    color: var(--black-text-color);
}

.statistic-item,
.statistic-advantage {
    margin: 0;
    padding: 0;
}

.sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;

    color: #FF6C00;
}

.statistic-text {
    color: var(--black-text-color);
}

.statistic-text,
.statistic-item {
    color: var(--black-text-color);
}

.statistic-advantage {
    color: var(--description-color);
}

/* наші майстри */

.master {
    background-color: var(--background-color);
}

.master-text,
.master-item {
    color: var(--black-text-color);
}

.master-text,
.master-item {
    margin: 0;
    padding: 0;
}

.master-list,
.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.master-name,
.master-position {
    margin: 0;
    padding: 0;
}

.master-name {
    color: var(--black-text-color);
}

.master-position {
    color: var(--hover-color);
}

/* ------------------ */

.works-text {
    margin: 0;
    padding: 0;

    color: var(--black-text-color);
}

.works-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.address-text,
.address-tel,
.address-mail,
.footer-text {
    color: var(--text-color);
}

.footer-link {
    color: var(--black-text-color);
}

/* онлайн-запис */

.registrations {
    margin: 0;
    padding: 0;
}

input,
textarea {
    padding: 0;
}

.btn-send {
    margin: 0;
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--hover-color);
    border-radius: 25px;
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--hover-color);
    color: var(--white-title-color);
}

.info-contacts {
    margin: 0;
    padding: 0;
}

.address-list,
.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.address-text,
.work-time {
    margin: 0;
    padding: 0;
}

.address-tel {
    text-decoration: none;
}

.footer-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--hover-color);
}

